# 编译生成的文件
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# 编译中间文件
*.d
*.dep
*.out
*.swp
*.swo
*.swn

# 编译工具生成的文件
CMakeLists.txt.user
CMakeCache.txt
cmake_install.cmake
build/

# 依赖库文件
lib/
lib64/
libs/

# 可执行文件
bin/

# IDE生成的文件
cmake-build-*/
.vscode/
.idea/
*.sdf
*.suo
*.opensdf
*.user
*.ncb
*.sln
*.sln.cache
*.sln.docstates
*.sln.layout
*.ilk
*.pdb

# 临时文件
*.tmp
*.bak
*.log

# 其他生成的文件
tags
Session.vim

# 忽略系统文件
Thumbs.db
.DS_Store
Desktop.ini
